<footer class="footer">
    <a class="footer__button" href="#top">
        <img class="button__arrow" src="assets/images/ico-arrow.svg" alt="Back to top">
    </a>

    <ul class="footer__list footer__list--menu">
        <li><a class="footer__link" href="">Articles</a></li>
        <li><a class="footer__link" href="">Books</a></li>
        <li><a class="footer__link" href="">Events</a></li>
        <li><a class="footer__link" href="">Reasons</a></li>
        <li><a class="footer__link" href="">Tips</a></li>
    </ul>
    <ul class="footer__list footer__list--media">
        <li><a class="footer__link" href="">Twitter</a></li>
        <li><a class="footer__link" href="">Instagram</a></li>
        <li><a class="footer__link" href="">Mastodon.social</a></li>
    </ul>
    <small class="footer__text">    
        <small class="footer__text">©2017</small>
        <small class="footer__text">we <span class="heart">❤︎</span> components</small>
    </small>
</footer>