<main>
    <section class="section_main" id="main-section">
        <small class="small-text">Insomnia tips</small>
        <h2 class="section__title">Looking Through A Window</h2>
        <p class="section__main-text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <a class="go_button" href="">
            Go
        </a>
    </section>
    <section class="section_purchase">
        <h2 class="section__title">3 Reasons to purchase</h2>
        <ul class="purchase__list">
            <li>
                <h3 class="list__title">Ut sed metus</h3>
                <p class="list__text">Lorem ipsum dolor sit amet, consecteur.</p>
            </li>
            <li>
                <h3 class="list__title">Curabitur ac erat</h3>
                <p class="list__text">Mauris mattis urna quis lorem molestie.</p>
            </li>
            <li>
                <h3 class="list__title">Morbi dictum</h3>
                <p class="list__text">Aliquam in dolor et dolor tincidunt.</p>
            </li>
        </ul>
        <a class="button-reasons" href="">
            More reasons
        </a>
    </section>
</main>
