<main class="page__main">
    <section class="section_main" id= "main-section">
        <small class="small-text">Insomnia tips</small>
        <h2 class="section__title">Looking Through A Window</h2>
        <p class="section__main-text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <a class="go_button" href="">
            Go
        </a>
    </section>
    <section class="section_purchase">
        <h2>3 Reasons to purchase</h2>
        <ul>
            <li>
                <h3>Ut sed metus</h3>
                <p>Lorem ipsum dolor sit amet, consecteur.</p>
            </li>
            <li>
                <h3>Curabitur ac erat</h3>
                <p>Mauris mattis urna quis lorem molestie.</p>
            </li>
            <li>
                <h3>Morbi dictum</h3>
                <p>Aliquam in dolor et dolor tincidunt.</p>
            </li>
        </ul>
        <button>More reasons</button>
    </section>
</main>
