@mixin button_transition  {
    transition: transform box-shadow ease-in-out 1s;
        &:hover {
            transform: scale(1.1);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        }
}
@mixin button_animation {
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes arrow {
    0% {
        transform: translate(0, 8px);
    }
    50% {
        transform: translate(0, -8px);
    }
    100% {
        transform: translate(0, 8px);
    }
}