.page__header  {
    width: 100%;
    height: 100vh;
}
.hero {
    width: 100%;
    height: 100vh;
    background: url('../images/cover.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}
.header__tittle {
    max-width: 320px;
    margin: 0;
    padding: 0px 15px 10px;
    font-family: $font-family-title;
    color: $title-font-color;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.31;
    text-transform: uppercase;
    @media all and (min-width:768px){
        max-width: 700px;
        font-size: 80px;
        line-height: 1.33;
        padding-bottom: 20px;
    }
    @media all and (min-width:1280px) {
        max-width: 730px;
        font-size: 100px;
        line-height: 1.32;
        padding-bottom: 0;
    }
}
.claim {
    margin: 0;
    font-family: $font-family-text;
    color: $title-font-color;
    font-size: 15px;
    @media all and (min-width:768px){
        font-size: 24px;
    }
}
.header__link {
    margin: 45px auto 53px;
    display: block;
    .header__button {
        @include round_button;
    }
    @media all and (min-width:768px){
        margin: 30px auto 45px;
    }
    @media all and (min-width:1280px) {
        margin-bottom: 13px;
    }
    &:hover .button__arrow{
        @include button_animation;
        animation-direction: reverse;
    }
}
