.page__main {
    padding: 0 15px;
}
.section_main {
    height: 376px;
    padding-top: 30px;
}
.small-text {
    color: #8ccbea;
    font-size: 14px;
}
.section__main-text {
    margin: 15px 0 30px;
    font-family: $font-family-text;
    color: $plain-font-color;
    font-size: 18px;
    line-height: 1.67;
}
.go_button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 45px;
    border: 2px solid $color-buttons;
    border-radius: 22.5px;
    color: $color-buttons;
    font-size: 20px;
    font-family: $font-family-text;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
}