.section_purchase {
    padding-top: 30px;
    height: 624px;
    background-color: $color-purchasebgc;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.purchase__list {
    display: inline-block;
    margin-top: 45px;
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.list__title {
    margin:0;
    font-family: $font-family-title;
    font-weight: bold;
    font-size: 18px;
}
.list__text {
    margin: 0 0 45px;
    max-width: 180px;
    font-size: 18px;
    line-height: 1.67;
}
.button-reasons {
    @include solid-button;
    color: $title-font-color;
    background-color: $color-buttons;
    width: 184px;
    height: 45px;
}