.section_main {
    height: 376px;
    padding: 30px 15px 0;
}
.small-text {
    color: #8ccbea;
    font-size: 14px;
}
.section__title {
    @include section-title;
}
.section__main-text {
    margin: 15px 0 30px;
    font-family: $font-family-text;
    color: $plain-font-color;
    font-size: 18px;
    line-height: 1.67;
}
.go_button {
    margin-top: 30px;
    width: 76px;
    height: 45px;
    border: 2px solid $color-buttons;
    color: $color-buttons;
    @include solid_button;
}