.section_main {
    height: 376px;
    padding: 30px 15px 0;
    @media all and (min-width:768px) {
        height: 330px;
        padding: 30px 39px 0;
    }
    @media all and (min-width:1280px) {
        height: 360px;
        padding: 60px 275px 0;
    }
}
.small-text {
    font-family: $font-family-text;
    color: #8ccbea;
    font-size: 14px;
    line-height: 2.14;
    text-transform: capitalize;
    @media all and (min-width:1280px) {
        font-size: 16px;
        line-height: 1.88;
    }
}
.section__title {
    @include section-title;
}
.section__main-text {
    margin: 15px 0 30px;
    font-family: $font-family-text;
    color: $plain-font-color;
    font-size: 18px;
    line-height: 1.67;
    @media all and (min-width:768px) {
        margin-top: 30px;
        font-size: 20px;
        line-height: 1.5;
    }
}
.go_button {
    margin-top: 30px;
    width: 76px;
    height: 45px;
    border: 2px solid $color-buttons;
    color: $color-buttons;
    @include solid_button;
    @media all and (min-width:768px) {
        width: 91px;
    }
    @media all and (min-width:1280px) {
        width: 160px;        
    }
}