$main-font-color: black;
$title-font-color: white;
$plain-font-color: #4a4a4a;
$color-buttons: #f26002;
$color-button-menu: #0271bc;
$color-footerbgc: #304268;
$color-purchasebgc: #eff9ff;
$font-family-title: 'Roboto Slab', serif;
$font-family-text: 'Roboto', sans-serif;

@mixin section-title {
    font-family: $font-family-title;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    line-height: 1.25;
    @media all and (min-width:768px) {
        font-size: 26px;
        line-height: 1.73;
    }
}